<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.QuizApp.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".CreateQuizActivity" />
        <activity android:name=".QuizModeSelectionActivity" />
        <activity android:name=".AddQuestionActivity" />
        <activity android:name=".UploadQuizActivity" />
        <activity android:name=".ManageQuizActivity" />
        <activity android:name=".EditQuizActivity" />
        <activity android:name=".ManageQuestionActivity" />
        <activity android:name=".EditQuestionActivity" />
        <activity android:name=".ResultActivity" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="quiz_notifications" />

    </application>

</manifest>